{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if command -v apt-get &> /dev/null; then
    sudo apt-get update
    sudo apt-get install -y neovim git nodejs npm python3-pip unzip wget gcc ripgrep fd-find zoxide gpg
    sudo mkdir -p /etc/apt/keyrings
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
    echo "deb [signed-by=/etc/apt/keyrings/gierens.gpg] http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
    sudo chmod 644 /etc/apt/keyrings/gierens.gpg /etc/apt/sources.list.d/gierens.list
    sudo apt update
    sudo apt install -y eza
fi

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended

FONT_DIR="$HOME/.local/share/fonts"
if [ ! -d "$FONT_DIR/JetBrainsMono" ]; then
    echo "Installing JetBrains Mono Nerd Font..."
    mkdir -p "$FONT_DIR/JetBrainsMono"
    wget https://github.com/ryanoasis/nerd-fonts/releases/latest/download/JetBrainsMono.zip -P /tmp
    unzip /tmp/JetBrainsMono.zip -d "$FONT_DIR/JetBrainsMono"
    fc-cache -fv
fi

if [ ! -d "$HOME/.config/nvim" ]; then
    echo "Installing NvChad..."
    git clone https://github.com/NvChad/starter ~/.config/nvim
fi

echo "Setup finished!"
{{ end -}}
